:global .monaco-editor,
:global .monaco-editor * {
	transition: none !important;
	animation: none !important;
	box-shadow: none !important;
}

:global .monaco-editor {
	--vscode-editor-background: transparent !important;
}

:global .monaco-editor .margin {
	background-color: transparent !important;
}

/* margin to editor content */
:global .monaco-scrollable-element.editor-scrollable.vs-dark {
	margin-left: 10px;
}

main[data-pathname^='/playground'] article {
	max-width: 100%;
	overflow: hidden;
}
main[data-pathname^='/playground'] article:before {
	content: 'pota';
	font-size: 21em;
	left: 21px;
	opacity: 0.04;
	overflow: hidden;
	position: absolute;
	top: 34px;
	white-space: nowrap;
	writing-mode: vertical-rl;
}

.container {
	width: 100%;
	height: 100%;
}

main[data-pathname^='/playground'] article section {
	max-width: none !important;
}
