html,
body {
  height: fit-content;
}

html {
  color-scheme: dark;
}

* {
  line-height: 1.6;

  scrollbar-width: thin;
  scrollbar-color: #202835 #0d1117;
}

body {
  background: #0d1117;
  color: #c9d1d9;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  word-break: break-all;
}

button {
  margin-right: 10px;
}

ul {
  padding-left: 20px;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #42536b;
}

code {
  line-height: 1.25;
}

a:link {
  color: #58a6ff;
}
a:visited {
  color: #8e96f0;
}

.render {
  animation-duration: 1s;
  animation-name: render;
}

@keyframes render {
  from {
    background: rgba(88, 166, 255, 0.5);
  }
  to {
    background: transparent;
  }
}

.error {
  background: rgba(255, 0, 0, 0.2);
  padding: 5px 8px;
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 16px;
}

.error:empty {
  display: none;
}
