.menu {
	a:has(h2) {
		display: block;
		position: sticky;
		top: 0;
		width: 100%;
		padding-bottom: 10px;
		background-color: #0d1117;
	}
	ul,
	ol {
		line-height: 1;
	}
	h2 {
		font-size: 1.6em;
	}
	h3 {
		font-size: 1.2em;
	}
	h4 {
		font-size: 1.15em;
	}
	li {
		display: block;
	}
	li a {
		display: block;
		width: 100%;

		padding: 5px;
		padding-top: 6px;
		padding-left: 10px;
		padding-bottom: 8px;
		border-left: 1px solid rgba(186, 225, 255, 0.2);
	}
	li a:hover {
		background: rgb(140 154 165 / 15%);
		border-left: 1px solid rgb(51 144 215 / 41%);
	}
	h2 {
		position: sticky;
		top: 0;
	}
	h3,
	h4 {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	nav {
		ul {
			padding-top: 5px;
			padding-left: 6px;
		}
		ul li {
			padding-left: 1px;
			padding-bottom: 0px;
		}

		ul + h3,
		ul + h4 {
			padding-top: 5px;
			padding-bottom: 0px;
		}
	}
}

.montevideo {
	position: fixed;
	right: 33px;
	top: 13px;
	font-size: 260%;
	padding: 5px;
	cursor: pointer;
	z-index: 1;
	background-color: rgba(13 17 23 /0.4);
	border-radius: 4px;
}
