@media all and (max-width: 750px) {
	#menu {
		display: none;
	}
	#content,
	article,
	main {
		width: 100% !important;
		min-width: 100% !important;
		max-width: 100% !important;
	}
	code,
	pre {
		width: 100%;
		display: block;
		overflow: scroll;
		white-space: pre;
	}
	pre {
		padding: 10px !important;
	}
}
