@media all and (width < 750px) {
	#menu {
		display: none;
	}
	#content,
	article,
	main {
		width: 100% !important;
		min-width: 100% !important;
		max-width: 100% !important;
	}
	code,
	pre {
		width: 100%;
		display: block;
		overflow: scroll;
		white-space: pre;
	}
	pre {
		padding: 10px !important;
	}
}
@media all and (width < 1100px) {
	main[data-pathname^='/playground'] #container {
		flex-direction: column;
	}
	main[data-pathname^='/playground'] #left {
		width: 100%;
		max-width: 100% !important;
		height: calc(70% - 15px);
		max-height: calc(70% - 15px);
	}
	main[data-pathname^='/playground'] #right {
		width: 100%;
		max-width: 100% !important;
		height: calc(30%);
		max-height: calc(30%);
	}
}
